---
layout: default
title: Harsha Sharma
cover: 'assets/images/blue.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/ab.png'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Portfolio" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.description }}</h2><br>
            <ul class="icons-sm" >
            <li style="display: inline">
                <a href="https://twitter.com/harshasha256">
                <img src="assets/images/twitter.ico" class="icons" height=40 width=40 ></i>
                </a>
            </li>
            <li style="display: inline">
                <a href="https://github.com/hs256">
                <img src="assets/images/github.svg" class="icons" height=40 width=40 ></i>
                </a>
            </li>
            <li style="display: inline">
                <a href="https://facebook.com/harshaiitr">
                <img src="assets/images/fb.ico" class="icons" height=40 width=40 ></i>
                </a>
            </li>
            <li style="display: inline">
                <a href="https://www.linkedin.com/in/harsha-sharma-a5085012b/">
                <img src="assets/images/linkedin.png" class="icons" height=40 width=40 ></i>
                </a>
            </li>
            </ul>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
