// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$maroon: #751803;
$blue: #040969;
$light-blue: #259fbd;

// Override Bootstrap default state colors

$primary: $light-blue;
